.DefaultHead {
    font-variant-caps: small-caps;
    font-size: 30px;
    color: darkgreen;
    text-align:left;
    margin-top:0px;
    padding-top:21px;
}

.DefaultBody {
    font-weight: 300;
    font-size: 25px;
    color: darkred;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
}

#footwalk {
    position: fixed;
    top: 0;
    left: 0;
    
    height: 100%;
}


body {
    /*background-image:url(/Custom/backdrop.jpg);
    background-repeat:no-repeat;
    background-size:contain;*/
    padding-bottom: 40px;
    color: #634082;

}

#titbg {
    background-image:url(/Custom/foot.png);
    background-repeat:repeat-x;
    background-size:contain;
    
}

h2 {
    /*background-image: url(/Custom/foot.png);
    background-repeat: no-repeat;
    
    background-position-y: -50px;
    background-position-x: -30px;
    background-size: 350px;*/
    margin-left: 30px;
    color:antiquewhite;
    /*font-variant-caps:all-small-caps;*/
    font-size:xx-large;
    font-weight:800;
    font-family:'Copperplate Gothic';
    z-index:300;
}

p {
    /*background-image: url(/Custom/foot.png);
    background-repeat: no-repeat;
    
    background-position-y: -50px;
    background-position-x: -30px;
    background-size: 350px;*/
    margin: 0 30px 0 30px;
    color: antiquewhite;
    /*font-variant-caps:all-small-caps;*/
    font-size: medium;
    font-weight: 500;
    font-family: 'Verdana';
    z-index: 300;
}

.navflash {
    animation-duration: 1200ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation: blink 1200ms infinite; /* Safari and Chrome */
}

@keyframes blink {
    from {
        color: yellow
    }

    to {
        color: white;
    }
}

/*For image popup*/

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }



/*EOD For image popup*/


#Titlefoot {
    position: absolute;
    left: 430px;
    top: 70px;
    z-index:-400;
}


.EApic {
    /*width: 314px;*/
    height: 532px;
    background: rgba(255,255,255,1);
}


.panel-body {
    padding: 0px;
}

.EAtext {
    /*width: 314px;*/
    height: 532px;
    background: #FFF;
    opacity: 0;
}

.EApic:hover .EAtext {
    opacity: 0.8;
    /*text-align: justify;*/
    /*color: #634082;*/
    /*padding: 10px;*/
    /*font-size: 25px;*/
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.pots {
    margin-top: 0px;    
    opacity: 0.95;
    margin-right: 35px;
    margin-left: 35px;
    /*padding-right: 15px;
    padding-left: 15px;*/
}

.Topmenu {
    margin-right: 130px;
    margin-left: 10px;
}

.row {
    margin-top: 30px;
}

.navbar {
    margin-bottom:0px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin-top: 30px; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


a, .navbar-nav, .well-lg {
    color: #E0A67A;
}

.myamenu {
    color: darkslateblue !important;
    background-color: bisque;
    text-align: center;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: drop-shadow(5px 5px 5px #222);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.myatag {
    color: brown;
    background-color: bisque;
    text-align: center;
    padding: 3px;
    border: inset thin;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: drop-shadow(5px 5px 5px #222);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}



/* Nice box for details in a Mast Detail screen */
.MastDet {
        background-image: url(../EAwell.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-top: 5px;
        padding-left: 30px;
        padding-bottom: 10px;
        padding-right: 15px;
    }


/* Bigger Checkboxes */
input[type=checkbox] {
    zoom: 1.5;
 }

/* Emblem
<a id="emblem" href="~/"><img src="~/Emblem.png" height=100px; alt="Nunes HR System" /> </a>
 */
 #emblem {
        position:absolute;
        right:-115px;
        top:-50px;

        -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
        filter: drop-shadow(5px 5px 5px #222);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    }

/* Multilevel nav menu */
    .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #ccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #fff;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }


/* 3D Menu  */
.dropdown-menu a {
    color: darkslateblue !important;
    background-color: bisque;
    text-align: center;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: drop-shadow(5px 5px 5px #222);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

/* Attractive a tags. Div above renderBody is id =TopBody */
#TopBody a {
    color: brown;
    background-color: bisque;
    text-align: center;
    padding:3px;
    border:inset thin;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: drop-shadow(5px 5px 5px #222);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}



/* Print only what is needed 
<input type="button" onclick="javascript:window.print();" value="print a div!" /> */

    #PrintHeader, #PrintHeader * {
        visibility:hidden;
        display:none;
    }


@media print {
    
    body * {
        visibility: hidden;
    }

    #PrintHeader, #PrintHeader * {
        visibility: visible;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

    #section-to-print, #section-to-print * {
        visibility: visible;
    }

    #section-to-print {
        position: absolute;
        left: 0;
        top: 50px;
    }

    
}