

<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Big Foot Goa</a>
                </div>
                <a id="emblem" href="~/"><img src="~/Custom/Emblem.png" height=150px; alt="Big Foot Goa" /> </a>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#contact">Information</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Attractions<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Ancestral Goa</a>
                                </li>
                                <li>
                                    <a href="#">Pride Of Goa</a>
                                </li>
                                <li>
                                    <a href="#">Only In Goa</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Fun Things</li>
                                <li>
                                    <a href="#">Learnings</a>
                                </li>
                                <li>
                                    <a href="#">Venue's</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
