@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    EEAA Tech<br />
    Alankar, Miramar<br />
    <abbr title="Phone">P:</abbr>
    9923379793
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:erryl1@hotmail.com">Support@example.com</a><br />    
</address>