@{
    ViewBag.Title = "Home Page";
}
<p>&nbsp;</p>
<div class="jumbotron" style="background-image: url(../Custom/HeaderRaised.jpg); background-size: 100% 100%; background-repeat: no-repeat; height:300px;">

  <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    