
@{
    ViewBag.Title = "Forgot Password Confirmation";
    String portal = ViewBag.lu;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please click the following to reset the password or send the link to the employee to whom the account belongs: &nbsp;
        <a href="@portal">@portal</a>
    </p>
</div>

